recursive-include .github *
include package.json
include README
include CHANGELOG.md
include setup.cfg
include Makefile
include .pylintrc
include LICENSE
recursive_include oslicensor/assets *.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
